.pageTitle {
  // border: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 10px;

  text-shadow: 2px 2px 4px rgb(13, 162, 198), 2px 2px 8px rgb(13, 162, 198),
    2px 2px 12px rgb(13, 162, 198);
}
