@import "../../../styles/global.scss";

.button {
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #2bc0e4;
  border: 3px white solid;
  text-transform: uppercase;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -56px;
    width: 40px;

    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: ease 0.4s all;
  }

  &:hover::before {
    transform: translateX(280px) rotate(20deg);
  }
}
