@import "../../../styles/settings.scss";

.checkoutWrapper {
  // border: 1px solid black;

  .checkoutFormWrapper {
    // border: 1px solid black;
    height: 60vh;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;

    .checkoutFormTitle {
      width: 100%;
      // border: 1px dotted black;
    }

    label {
      // border: 1px dotted black;
      font-size: 20px;
      padding: 8px;
      width: 50%;
      // padding: 20px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-of-type {
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        textarea {
          padding: 10px;

          border: none;
          border-radius: 10px;
        }
      }

      input {
        // background-color: red;
        padding: 10px;

        border: none;
        border-radius: 10px;
      }
    }

    .textarea {
      display: flex;
      width: 50%;
      // border: 1px dotted black;
    }
  }

  .orderSummaryWrapper {
    // border: 1px solid black;
  }

  .buttonWrapper {
    // border: 1px solid black;
    width: 100%;
    // background-color: red;
    padding: 20px;

    display: flex;
    justify-content: flex-end;
  }
}
