/* colors */

$color-text: rgb(25, 25, 25);
$color-text: rgb(30, 30, 30);

/* fonts */
$font-logo: "Lobster", cursive;
$font-text: "Lato", sans-serif;

/* others */
$base-size: 10px;
$transition: ease 0.4s;
$radius: 10px;
