@import "../../../styles/settings.scss";

table {
  width: 100%;
  border-spacing: 0;

  tr th {
    background-color: khaki;
    padding: 14px 0;
    font-weight: bold;
    font-size: 20px;
  }
}

.summaryWrapper {
  // border: 1px solid black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;

  .checkoutWrapper {
    h2,
    h3 {
      padding: 10px 0;
    }
  }
}

@media (max-width: 767px) {
  table {
    tr th {
      padding: 14px 6px;
      font-size: 14px;
    }
  }

  .summaryWrapper {
    min-height: 200px;

    align-items: flex-end;
    flex-direction: column;
  }
}
