@import "../../../styles/global.scss";

.header {
  height: 60px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: #00d0ff80;
  background: -webkit-linear-gradient(
    to right,
    #00d0ff80,
    #2bc0e4,
    #2bc0e4,
    #00d0ff80
  );
  background: linear-gradient(to right, #00d0ff80, #2bc0e4, #2bc0e4, #00d0ff80);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .navBar {
    display: flex;

    .navItemWrapper {
      display: flex;
      flex: 1;

      .navItem {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 24px;
        text-decoration: none;
        color: $color-text;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.2s ease;
        text-shadow: 2px 2px 4px rgb(13, 162, 198),
          2px 2px 8px rgb(13, 162, 198), 2px 2px 12px rgb(13, 162, 198);

        &.productInCart {
          background-color: khaki;
          border-radius: 14px;
          height: 80%;
          margin: auto auto;
          text-shadow: 2px 2px 4px rgb(13, 162, 198),
            2px 2px 8px rgb(13, 162, 198), 2px 2px 12px rgb(13, 162, 198);
          text-shadow: none;
          // width: 90%;
          .cartIcon {
            font-size: 30px;
            padding: 0 8px;
            display: inline-block;
            color: #2bc0e4;
          }
          &:hover {
            color: #2bc0e4;
          }
        }

        .cartIcon {
          display: none;
        }

        &:hover {
          color: khaki;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $color-text;
      height: 100%;
      // width: 100%;
      font-weight: normal;
      text-shadow: 2px 2px 4px rgb(13, 162, 198), 2px 2px 8px rgb(13, 162, 198),
        2px 2px 12px rgb(13, 162, 198);
      font-family: $font-logo;
      font-size: 30px;
      transition: all 0.2s ease;

      span {
        margin-left: 10px;
        font-size: 50px;

        &:nth-of-type(1) {
          margin-left: 0;
        }
      }

      &:hover {
        text-shadow: 2px 2px 4px rgb(33, 182, 208),
          2px 2px 8px rgb(33, 182, 208), 2px 2px 12px rgb(33, 182, 208);
      }
    }
  }
}
.toggleMenuWrapper {
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding-left: 10px;
    .navBar {
      .navItemWrapper {
        flex-direction: column;
        top: 60px;
        left: -100%;
        position: absolute;
        height: calc(100vh - 60px);
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease;

        &.active {
          opacity: 1;
          left: 0;
        }

        .navItem {
          background: #00d0ff80;
          background: -webkit-linear-gradient(
            to right,
            #00d0ff80,
            #2bc0e4,
            #2bc0e4,
            #00d0ff80
          );
          background: linear-gradient(
            to right,
            #00d0ff80,
            #2bc0e4,
            #2bc0e4,
            #00d0ff80
          );

          &:nth-of-type(1) {
            margin-top: 10px;
          }
          &:nth-of-type(2) {
            margin: 10px 0;
          }
          &:nth-of-type(3) {
            margin-bottom: 10px;
          }
        }
      }

      .logo {
        span {
        }
      }
    }
  }

  .toggleMenuWrapper {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;

    font-size: 40px;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-shadow: 2px 2px 4px rgb(13, 162, 198), 2px 2px 8px rgb(13, 162, 198),
        2px 2px 12px rgb(13, 162, 198);
    }
  }
}
