.orderConfirm {
  p {
    padding: 10px;
    // background-color: red;
  }
}
.thanks {
  padding: 20px;
  font-size: 26px;
  // background-color: red;
  text-align: center;
  line-height: 2;

  span {
    background-color: khaki;
    padding: 6px 10px;
  }
}

table {
  margin-bottom: 100px;
}

.confirmWrapper {
  // border: black solid 1px;
  width: 100%;
  text-align: center;
  padding: 20px;
}
