.orderConfirm {
  p {
    padding: 10px;
  }
}

.customerInfo {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  border: 1px solid khaki;
  min-height: 240px;
  width: 400px;

  .addressTitle {
    height: 15%;
    padding: 0 20px;
    background-color: khaki;

    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      height: 55%;
    }
  }

  .rightSide {
    flex: 1;
    padding-left: 10px;
    font-size: 20px;

    .address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 55%;
    }
    :nth-child(1),
    :nth-child(3),
    :nth-child(4) {
      height: 15%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
.thanks {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  line-height: 2;

  span {
    background-color: khaki;
    padding: 6px 10px;
  }
}

.confirmWrapper {
  width: 100%;
  text-align: center;
  padding: 20px;
}

@media (max-width: 767px) {
  .orderConfirm {
    p {
      padding: 10px;
    }
  }

  .customerInfo {
    min-height: 200px;
    width: 100%;

    .addressTitle {
      padding: 10px 20px;

      &:nth-child(2) {
      }
    }

    .rightSide {
      font-size: 16px;

      .address {
      }
      :nth-child(1),
      :nth-child(3),
      :nth-child(4) {
      }
    }
  }

  .thanks {
    padding: 20px;
    font-size: 26px;
    font-size: 18px;
    // background-color: red;
    text-align: center;
    line-height: 2;

    span {
      background-color: khaki;
      padding: 6px 10px;
    }
  }

  table {
    margin-bottom: 100px;
  }

  .confirmWrapper {
    // border: black solid 1px;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
