@import "../../../styles/global.scss";

.button {
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #2bc0e4;
  border: 3px white solid;
  text-transform: uppercase;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  &:disabled {
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.2);
  }

  &::before {
    content: "";
    position: absolute;

    width: 50px;

    transform: translate(-150%, -30%);
    height: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: ease 0.5s all;
  }

  &:hover::before {
    transform: translate(450%, -30%);
  }
}
