@import "../../../styles/settings.scss";

.products {
  // background-color: grey;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;

  .productsAmountWrapper {
    width: 100%;
    padding: 20px 0;
  }
}
