@import "../../../styles/settings.scss";

.productWrapper {
  margin: 10px 0;
  padding: 10px;

  min-height: calc(100vh - 100px);

  display: flex;
  flex-wrap: wrap;

  .imgWrapper {
    width: 40%;
    position: relative;
    margin: auto 0;
    min-width: 40%;
    display: flex;
    justify-content: center;

    img {
      max-height: calc(100vh - 120px);
      max-width: 100%;
      transition: ease-in-out 0.5s all;
    }

    .productTag {
      position: absolute;
      padding: 10px 20px;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      background-color: khaki;
    }
  }

  .descriptionWrapper {
    width: 60%;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .productName {
      width: 100%;
      font-size: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .description {
      font-size: 26px;
      padding: 0 20px;
    }
    .productPrice {
      width: 100%;
      text-align: center;
    }

    .buttonsWrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .productInCart {
        font-size: 16px;
        padding: 0 20px;
        text-align: center;
      }
    }
  }
}
/***************************************************************************************/

@media (max-width: 767px) {
  .productWrapper {
    padding: 0;
    padding-top: 10px;

    .imgWrapper {
      min-width: 100%;

      .productTag {
      }
    }

    .descriptionWrapper {
      width: 100%;
      padding: 0;

      .productName {
        font-size: 30px;
        padding: 10px 0;
        text-align: center;
      }

      .description {
      }
      .productPrice {
        padding: 10px;
      }

      .buttonsWrapper {
        .productInCart {
          font-size: 16px;
          padding: 8px;
          text-align: center;
        }
      }
    }
  }
}
