@import "../../../styles/settings.scss";
table {
  // border: 1px black solid;
  margin-bottom: 20px;
}
.orderWrapper {
  border: 1px black solid;
  .orderTitle {
    font-size: 20px;
    padding: 10px;
    display: flex;
    border: 1px solid khaki;
    border-top: none;
    border-right: none;

    .orderName {
      margin-right: 10px;
    }
  }

  .orderSubtotal {
    font-size: 20px;
    border: 1px solid khaki;
    border-top: none;
    text-align: end;
    p {
      margin: 0 auto;
      width: 50%;
    }
  }
}

.totalPrice {
  text-align: end;
  p {
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .table {
  }
  .orderWrapper {
    .orderTitle {
      padding: 6px;
      font-size: 14px;
    }

    .orderSubtotal {
      font-size: 14px;
    }
  }
}
